<!--views/admin/search.ejs-->
<link href="/styles/admin/search.css" rel="stylesheet" />

<% if(data.result.length > 0){ %>
<ul class="Search">
    <% for(let item of data.result){ %>
    <li>
        <a class='thumb' href="/<%= data.type %>/<%= item.id %>">
            <img src="<%= item.thumb %>" />
            <% if((item.video) && (item.video !== '[]') ){ %>
            <img class="play-icon" src="/images/play.png" />
            <% } %>
        </a>
        
        <div class="title-outer">
            <a class='title' href="/<%= data.type %>/<%= item.id %>">
                <%= item.title %>
            </a>
            <div class='title'><%= (item.date).toLocaleDateString() %></div>
        </div>
        
        <div class="edit">
            <a  href="/admin/<%= data.type %>/edit/<%= item.id %>">
                <img src="/images/edit.png" />
            </a>
            <a  href="/admin/<%= data.type %>/edit/<%= item.id %>">
                <img  src="/images/delete.png" />
            </a>
        </div>
    </li>
    <% } %>
</ul>
<% } %>

<% if(data.type === 'user'){ %>
    <script>
    $('.Search li').css({'grid-template-columns':'7% auto 10%'})
    $('.Search li .thumb').css({'padding-top':'100%'})
    $('.Search li .thumb img').css({'border-radius':'50%'})
    </script>
<% } %>