<!--views/admin/post.ejs-->
<link rel='stylesheet' href='/styles/admin/post.css' />
<script src="/scripts/ckeditor/ckeditor.js"></script>
<script src="/scripts/admin/video.js"></script>

<section class='Main'>
    <div class='content'>
        
        <% if(data.item){ %>
        <form action='/admin/user/edit/<%= data.item.id %>' method='post' >
            <input type='text' name='title' value='<%= data.item.title %>' 
                placeholder='ចំណងជើង' required />
            <textarea name="content" id="editor" ><%= data.item.content %></textarea>
            <div class='wrapper'>
                <select name='category' class='category' >
                    <option>Author</option>
                    <option>Editor</option>
                    <option>Admin</option>
                </select>
                <script>$(".category").val("<%= data.item.role %>").change()</script>
                <input type='text' name='thumb' value='<%= data.item.thumb %>' 
                    required placeholder="តំណរ​ភ្ជាប់​រូប​តំណាង" />
                <input type='datetime-local' value='<%= data.item.date %>' name='datetime' 
                    required />
                <input type='submit' value='ចុះ​ផ្សាយ' />
                <input type="email" name="email" value="<%= data.item.email %>" 
                    required placeholder="Email" />
                <input type="password" name="password" value="<%= data.item.password %>" 
                    required />
                <input type="text" disabled />
                <button disabled></button>
                <div></div> 
            </div>
            <input name='entries' value='<%- data.item.video %>' type='hidden' />
        </form>
        <% }else{ %>
        <form action='/admin/user' method='post' >
            <input type='text' name='title' placeholder='ឈ្មោះ​អ្នក​ប្រើប្រាស់' required />
            <textarea name="content" id="editor" ></textarea>
            <div class='wrapper'>
                <select name='category'>
                    <option>Author</option>
                    <option>Editor</option>
                    <option>Admin</option>
                </select>
                <input type='text' name='thumb' required placeholder="តំណរ​ភ្ជាប់​រូប​តំណាង" />
                <input type='datetime-local' value='' name='datetime' required />
                <input type='submit' value='ចុះ​ផ្សាយ' />
                <input type="email" name="email" required placeholder="Email" />
                <input type="password" name="password" required />
                <input type="text" disabled />
                <button></button>
                <div></div> 
            </div>
            <input name='entries' value='' type='hidden' />
        </form>
        <% } %>
 
        <div class='form'>
            <select name='type'>
                <option>YouTube</option>
                <option>YouTubePlaylist</option>
                <option>Facebook</option>
                <option>OK</option>
                <option>Dailymotion</option>
                <option>Vimeo</option>
            </select>
            <input name='id' type='text' placeholder="អត្តសញ្ញាណវីដេអូ" required />
            <select name='ending'>
                <option>ចប់​</option>
                <option>មិន​ទាន់ចប់</option>
                <option>~ ចប់</option>
            </select>
            <input onclick='genJson()' type="button" value="បញ្ចូល​វីដេអូ" />
        </div>
 
        <table class='viddata'></table>
        
        <% if(data.item){ %>
            <script>
                var entries = JSON.parse('<%- data.item.video %>')
            </script>
        <% }else{ %>
            <script>
                var entries = ''
            </script>
        <% } %>
        <% delete data.item %>

        <script>
        if(entries.length > 0){
            let html = ``
            for(let v in entries){
                episode += 1
                html += `<tr>`
                html += `<td title="Delete" onClick="deleteRow(event)" class="episode">${episode}</td>`
                html += `<td class="td${episode}">${entries[v].type}</td>`
                html += `<td class="td${episode}">${entries[v].id}</td>`
                html += `<td class="td${episode}">${entries[v].ending}</td>`
                html += `</tr>`
            }
 
            if($('.viddata').html() === ''){
                $('.viddata').append('<tr>')
                $('.viddata').append('<th>ភាគ/លុប</th>')
                $('.viddata').append('<th>ប្រភេទ​</th>')
                $('.viddata').append('<th>អត្តសញ្ញាណ​</th>')
                $('.viddata').append('<th>ចប់ឬ​នៅ?</th>')
                $('.viddata').append('</tr>')
            }
 
            $('.viddata').append(`${html}`)
 
        }
        </script>
 
        <script src="/scripts/ckeditor/config.js"></script>
    </div>
</section>