<!--views/front/home.ejs-->
<link rel="stylesheet" href="/styles/front/home.css" />
<script src="/scripts/randomItem.js"></script>

<section class="Random">
    <div class="navigate aticle region">
        <img onClick="getItems('book','.container','.aticle')" src="/images/left.png" />
        <img class="home" onClick="getItems('book','.container','.aticle')" src="/images/home.png" />
        <img onClick="getItems('book','.container','.aticle')" src="/images/right.png" />
    </div>
    
    <div class="container region">
        <% if(data.randomArticles.length > 0){ %>
            <% for(let v=0; v<data.randomArticles.length; v++){ %>
            <a href="/<%= data.type %>/<%= data.randomArticles[v].id %>">
                <img src="<%= data.randomArticles[v].thumb %>" />
                <% if((data.randomArticles[v].video)&&(data.randomArticles[v].video !== "[]")){ %>
                <img class="play-icon" src="/images/play.png" />
                <% } %>
            </a>
            <% } %>
        <% } %>
    </div>

    <div class="navigate book-wrapper region">
        <img onClick="getItems('books','.book','.book-wrapper')" src="/images/left.png" />
        <img class="home" onClick="getItems('books','.book','.book-wrapper')" src="/images/home.png" />
        <img onClick="getItems('books','.book','.book-wrapper')" src="/images/right.png" />
    </div>
    <div class="book region">
        <% if(data.randomBooks){ %>
            <% for(let item of data.randomBooks){ %>
            <a href="/book/<%= item.id %>">
                <img src="<%= item.bookCover %>" />
            </a>
            <% } %>
        <% } %>
    </div>
    <% if(data.randomVideos){ %>
    <div class="navigate video-wrapper region">
        <img onClick="getItems('video','.video','.video-wrapper')" src="/images/left.png" />
        <img class="home" onClick="getItems('video','.video','.video-wrapper')" src="/images/home.png" />
        <img onClick="getItems('video','.video','.video-wrapper')" src="/images/right.png" />
    </div>
    <div class="video region">
        <% for(let video of data.randomVideos){ %>
            <a href="/post/<%= video.id %>">
                <img src="<%= video.thumb %>" />
                <img class="play-icon" src="/images/play.png" />
            </a>
        <% } %>
    </div>
    <% } %>
</section>