<!--views/front/home.ejs-->
<link rel="stylesheet" href="/styles/front/home.css" />

<section class="Random">
    <div class="container region">
        <% if(data.randomArticles){ %>
            <% for(let v=0; v<5; v++){ %>
            <a href="/<%= data.type %>/<%= data.randomArticles[v].id %>">
                <img src="<%= data.randomArticles[v].thumb %>" />
                <% if((data.randomArticles[v].video)&&(data.randomArticles[v].video !== "[]")){ %>
                <img class="play-icon" src="/images/play.png" />
                <% } %>
            </a>
            <% } %>
        <% } %>
    </div>
    <div class="listing region">
        <div class="navigate">
            <a href='/'><img src="/images/left.png" /></a>
            <a href="/"><img src="/images/home.png" /></a>
            <a href='/'><img src="/images/right.png" /></a>
        </div>
        <ul>
            <% for(let v=5; v<data.randomArticles.length; v++){ %>
                <li>
                    <a href="/book/<%= data.randomArticles[v].id %>">
                        <%= data.randomArticles[v].title %>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="book region">
        <% if(data.randomBooks){ %>
            <% for(let item of data.randomBooks){ %>
            <a href="/book/<%= item.id %>">
                <img src="<%= item.bookCover %>" />
            </a>
            <% } %>
        <% } %>
    </div>
</section>