<!--views/front/index.js-->
<link rel="stylesheet" href="/styles/front/index.css" />

<section class="Index">
    <div class="wrapper">
        <div class="outer region">
            <div class="logo">
                <a href="/"><img src="/images/siteLogo.png"/></a>
            </div>
            <a href="/" class="siteTitle">Khmer Web</a>
            <form target="/search" method="post">
                <select name="type">
                    <option>សៀវភៅ</option>
                    <option>ព័ត៌មាន</option>
                </select>
                <input type="text" name="q" required placeholder="Search"/>
                <input type="submit" value="ស្វែង​រក" />
            </form>
            <div class="login">
                <a href="/admin/login">ចូល​ក្នុង</a> | <a>ចុះ​ឈ្មោះ</a>
            </div>
        </div>
    </div>
</section>

<section class="Menu">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/front/menu.css" />
    <%
    let home = ''
    let node = ''
    let python = ''
    let typing = ''
    let job = ''
    let multimedia = ''
    let contact = ''

    if(data.route === '/'){
        home = 'active'
    }else if(data.route === '/books/ES6'){
        node = 'active'
    }else if(data.route === '/books/Python'){
        python = 'active'
    }else if(data.route === '/typing'){
        typing = 'active'
    }else if(data.route === '/job'){
        job = 'active'
    }else if(data.route === '/multimedia'){
        multimedia = 'active'
    }else if(data.route === '/contact'){
        contact = 'active'
    }
    %>
    <div class="wrapper">
        <div class="outer region">
            <div class="topnav" id="myTopnav">
                <a href="/" class="home <%= home %>">Home</a>
                <a href="/books/ES6" class=" node <%= node %>">Node.js</a>
                <a href="/books/Python" class="python <%= python %>">Python</a>
                <a href="/typing" class="typing <%= typing %>">Typing Lesson</a>
                <a href="/job" class="job <%= job %>">Freelance Job</a>
                <a href="/multimedia" class="multimedia <%= multimedia %>">Multimedia</a>
                <a href="/contact" class="contact <%= contact %>">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </div>

    <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }
    </script>
    
</section>

<section class="include">
    <% if(data.route === '/'){ %>
        <%- include('home.ejs') %>
    <% }else if(data.route === '/book'){ %>
        <%- include('book.ejs') %>
    <% }else if(data.route.includes('/books')){ %>
        <%- include('books.ejs') %>
    <% }else if(data.route.includes('/post')){ %>
        <%- include('post.ejs') %>
    <% } %>
</section>