<!--views/front/post.ejs-->
<script>
    var fb_api = false
    window.fbAsyncInit = function(){
        fb_api = true
    };
</script>
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/km_KH/sdk.js#xfbml=1&version=v3.2"></script>

<link rel="stylesheet" href="/styles/front/post.css" />
<script src="/scripts/setplayer.js"></script>

<section class="Post">
    <div class="wrapper region">
        <% if(data.item){ %>
        <article>
            <% if((data.item.entries) && (data.item.entries !== "[]")){ %>
            <div class="video">
                <div class="screen"></div>
                <div class="playlist"></div>
            </div>
            <style>
            .Post .video .playlist .part{
                text-align: left;
                font: bold 14px/1.5 Courgette,HandWriting;
            }
            </style>
            <script>
                const videos = JSON.parse('<%- data.item.entries %>')
                let clicked = 0
                let ending = ''
                let title = "<%= data.item.title %>"

                for(let index in videos){
                    if(index == videos.length-1){
                        ending = videos[index].ending
                    }
                    
                    let html = `<div id="part${index}" 
                                class="part" onClick="setScreen(videos[${index}],${index},true)">
                                ${title} ភាគ​ទី ${++index} ${ending}
                                </div>`
                    $('.playlist').append(html)
                    setScreen(videos[0],0,false)
                }
            </script>
            <% } %>
            <div class="title"><%- data.item.title %></div>
            <% if(data.user){ %>
            <div class="edit">
                <a href="https://khmerweb-multimedia.vercel.app/admin/post/edit/<%= data.item.id %>">
                    <img src="/images/edit.png" />
                </a>
                <a href="https://khmerweb-multimedia.vercel.app/admin/post/delete/<%= data.item.id %>">
                    <img src="/images/delete.png" />
                </a>  
            </div>
            <% } %>
            <% if(data.item.content !== ''){ %>
            <div class="content"><%- data.item.content %></div>
            <% } %>

            <div id="disqus_thread"></div>
        </article>
        <script>
    
            var disqus_config = function () {
                this.page.url = "https://khmerweb.vercel.app/multimedia/<%= data.item.id %>";  
                this.page.identifier = "<%= data.item.id %>"; 
            };
    
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://https-khmerweb-vercel-app.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <% } %>
    </div>
</section>